@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00d0ff4e;
}

.container {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
}

.form {
   width: 90%; 
   max-width: 400px; /* Adicionado para limitar a largura em dispositivos maiores */
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: aliceblue;
   padding: 3rem;
   border-radius: 20px;
}

/* Estilos adicionados para dispositivos móveis */
@media screen and (min-width: 768px) {
    .form {
        width: 30%;
    }
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button button {
    width: 100%;
    border: none;
    background-color: #08c4eed5;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.login-button button:hover {
    background-color:#0990aec9;
    transition: 0.5s;
}

.login-button button a {
    color: black;
    text-decoration: none;
    font-weight: 500;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5.5rem;
    height: 0.3rem;
    background-color: #0990ae;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;    
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: 1px;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #0990ae;
}

.input-box label,
.forgot-password a,
.login-options h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

.forgot-password {
    margin-top: 0.8rem;
    text-align: right;
}

.forgot-password a {
    text-decoration: none;
    color: #0990ae;
}

.login-options {
    margin-top: 1.5rem;
    text-align: center;
}

.login-options h6 {
    margin-bottom: 0.5rem;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 0.5rem;
}

.social-icons img {
    width: 24px;
    height: 24px;
    margin: 0 0.4rem;
}

.continue-button {
    margin-top: 2.5rem;
}

.continue-button button {
    width: 100%;
    margin-top: 0.8rem;
    border: none;
    background-color: #08c4eed5;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.continue-button button:hover {
    background-color: #0990aec9;
    transition: 0.5s;
}

.continue-button button a {
    text-decoration: none;
    color: #000000c0;
    font-size: 0.93rem;
}
